/* Base Application Styles */
* {
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: Roboto, sans-serif;
  color: #333333;
  margin: 0;
}

/*h1 {*/
  /*font-size: 3em;*/
/*}*/

/*h1, h2 {*/
  /*text-align: center;*/
  /*font-weight: 300;*/
/*}*/

.interestGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.single {
  width: 300px;
  min-height: 150px;
  padding: 20px;
  margin: 0 10px 30px 10px;
}
